/*
点滅のアニメーションは、
https://1-notes.com/flash-animation/ に掲載されているものを使用しています。
*/

.station{
    animation: flash 3s linear infinite;
    font-size: 80px;
  }

.next{
    font-size:60px;
}

@keyframes flash {
    40%,60% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

#display{
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-weight: 600;
    font-style: normal;
}